<nav>
  <div class="nav_logo">
    <a href="" target="_blank"
      ><img src="assets/images/logoo.png" alt="" width="100px" />
    </a>
  </div>
</nav>

<div class="section_container">
  <div class="header_content">
    <h1>GMAT Mastery</h1>
    <p>
      💡 Attention Future GMAT Legends! 🚀<br />
      🔥 Ready to Transform Your GMAT Game? Let's Go! <br />

      🌟 What's In Store? <br />

      🚀 60 Hours of Live Classes - Say Goodbye to Boring Prep! <br />
      🧠 Dive into 3000+ Questions - Nail Every Concept! <br />
      🎯 Personalized Strategy Sessions - Tailored for YOUR Success! <br />
      🤖 Unlimited AI-Generated Tests - Because Average is Boring! <br />
      👊 Meet Your GMAT Mentor: Raaj Tomar - IIM A Alumnus with 15+ Years in the
      Game! <br />

      🚀 But Wait, There's More! <br />

      ✨ Free Demo Session - Exclusive for Early Birds! <br />
      📚 Book with Raaj Tomar - Uncover Your GMAT Potential! <br />
      🌐 Experience GMAT Prep Like Never Before. <br />
      💥 GMAT isn't just a Test, It's Your Launchpad to Success. Ready to
      Conquer? <br />
    </p>
  </div>
</div>
