<app-header></app-header>

<div class="page-title__area pt-5 pt-md-10 pt-lg-15" style="background-image: url(assets/images/background3.jpg); background-size: cover; background-position: center;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-xl-6">
        <h1 class="text-center pb-3 pb-md-5">GMAT Structure</h1>
      </div>
    </div>
  </div>
</div>


<div style="border-radius: 8px; padding: 16px">
  <h4 style="margin: auto">
    Total 3 sections, 64 questions, 2hr 15min and overall score range (205-805)
  </h4>

  <table>
    <thead>
      <tr>
        <th>SECTIONS</th>
        <th>TIME</th>
        <th>NO.OF QUESTIONS</th>
        <th>SCORE RANGE</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>QUANTITATIVE REASONING</td>
        <td>45 MINUTES</td>
        <td>21</td>
        <td>60-90</td>
      </tr>
      <tr>
        <td>VERBAL REASONING</td>
        <td>45 MINUTES</td>
        <td>23</td>
        <td>60-90</td>
      </tr>
      <tr>
        <td>DATA INSIGHT</td>
        <td>45 MINUTES</td>
        <td>20</td>
        <td>60-90</td>
      </tr>
      <!-- Add more rows as needed -->
    </tbody>
  </table>
</div>

<div
  class="row row-cols-1 row-cols-md-3 g-4"
  style="border-radius: 2px; padding: 16px"
>
  <div class="col">
    <div class="card h-100">
      <h5 class="card-title">QUANTITATIVE REASONING</h5>
      <img src="assets/images/quant.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <!-- <p class="card-text">
          
        </p> -->
        <h3>QUANT Topics</h3>
        <ul>
          <li>Algebra</li>
          <li>Arithematic</li>
          <li>Number System</li>
          <li>Statistics</li>
          <li>Permutations & Combinations</li>
          <li>Probability</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <h5 class="card-title">VERBAL REASONING</h5>
      <img src="assets/images/verbal.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h3>VERBAL Topics</h3>
        <ul>
          <li>Critical Reasoning</li>
          <li>Reading Comprehension</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <h5 class="card-title">DATA INSIGHT</h5>
      <img src="assets/images/datainsight.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h3>DATA INSIGHT Topics</h3>
        <ul>
          <li>Data Sufficiency</li>
          <li>Multi-Source Reasoning</li>
          <li>Table Analysis</li>
          <li>Graphics interpretation</li>
          <li>Two-Part Analysis</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div>
  <div
    class="card border-secondary mb-3"
    style="max-width: 100%; background-color: rgb(39, 35, 35)"
  >
    <div class="card-header" style="color: white; margin: auto">
      Frequently Asked Questions
    </div>
    <div class="card-body text-secondary" style="margin: auto">
      <ol style="color: white">
        <li>
          <a href="https://www.mba.com/exams/gmat-exam/about" target="_blank"
            >About GMAT</a
          >
        </li>
        <li>
          <a
            href="https://www.gmac.com/gmat-other-assessments/accessing-gmat-exam-scores-and-reports/gmat-using-programs-schools"
            target="_blank"
            >GMAT accepting Universities</a
          >
        </li>
        <li>
          <a
            href="https://www.gmac.com/gmat-other-assessments/about-the-gmat-focus-edition/exam-scores"
            target="_blank"
            >GMAT Scores</a
          >
        </li>

        <li>
          <a href="https://gmat.london.edu/" target="_blank"
            >Where to take GMAT Mock Test for free</a
          >
        </li>
      </ol>
    </div>
  </div>
</div>

<app-footer></app-footer>
