<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
  integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<app-header></app-header>

<div>
  <br />
  <h4 style="font-size: 30px; color: rgb(21, 21, 127); text-align: center">
    ABOUT US
  </h4>
</div>

<div class="row g-0" style="padding: 14px">
  <div class="col-md-4">
    <img
      src="assets/images/intro.jpg"
      class="img-fluid rounded-start"
      alt="GMATclap Introduction"
      style="width: 100%"
    />
  </div>
  <div class="col-md-8">
    <div class="card-body" style="padding: 14px">
      <p class="card-text" style="padding: 18px">
        Unlock the gateway to your dream business school with GMATclap, an
        initiative passionately crafted by Raaj Tomar, an esteemed alumnus of
        the prestigious Indian Institute of Management, Ahmedabad (IIM A). With
        over 15 years of unwavering dedication to guiding students through the
        nuances of GMAT preparation and admission consulting, Raaj Tomar brings
        a wealth of experience from renowned Institutions such as IMS, CL, and
        Leverage Edu At GMATclap, we believe in empowering aspiring business
        leaders to excel in the Graduate Management Admission Test (GMAT) and
        navigate the complex landscape of admission processes. Our mission is to
        go beyond conventional coaching providing not just lessons but a
        transformative learning experience that propels you towards success.
      </p>
    </div>
  </div>
</div>

<div>
  <h4 style="font-size: 30px; color: rgb(21, 21, 127); text-align: center">
    INTRODUCTION
  </h4>
</div>

<div class="row g-0" style="padding: 14px">
  <div class="col-md-8">
    <div class="card-body" style="padding: 14px">
      <p class="card-text" style="padding: 18px">
        GMATclap is the brainchild of an alumnus of IIM Ahmedabad, aimed at
        assisting students who aspire to prepare for MBA entrance exams and
        Undergraduate exams. Our all-inclusive services cater to students'
        journey, right from goal setting and exam preparation to SOP and
        interview assistance. We are committed to providing premium quality
        services at reasonable prices, ensuring that every student gets the
        opportunity to accomplish their dreams.
      </p>
    </div>
  </div>
  <div class="col-md-4">
    <img
      src="assets/images/three.jpg"
      class="img-fluid rounded-start"
      alt="GMATclap Introduction"
      style="width: 100%"
    />
  </div>
</div>

<div></div>

<div>
  <h4 style="font-size: 30px; color: rgb(21, 21, 127); text-align: center">
    RAAJ TOMAR
  </h4>
  <h6 style="color: rgb(21, 21, 127); text-align: center">
    GMAT Coach, IIM Ahmedabad Alumnus
  </h6>
</div>

<div class="row g-0" style="padding: 14px">
  <div class="col-md-4">
    <div class="position-relative">
      <img
        src="assets/images/rajtomarsir.jpg"
        class="img-fluid rounded-start"
        alt="Raj Tomar"
        style="width: 100%"
      />
      <div class="social-icons">
        
        <a href="https://www.linkedin.com/in/rajtomar/"
          target="_blank"><i class="fab fa-linkedin"></i
        ></a>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="card-body" style="padding: 14px">
      <!-- <h2 class="card-title" style="text-align: center;">RAJ TOMAR</h2>
      <h5 style="text-align: center;">GMAT Coach, IIM Ahmedabad Alumnus</h5> -->
      <p class="card-text">
        Raaj Tomar is a highly accomplished education professional with a wealth
        of experience and expertise in teaching for MBA entrance exams. With an
        engineering degree from JEC, Jabalpur and an MBA from IIM Ahmedabad, Raj
        has honed his skills over 15 years with coaching institutes such as IMS
        and CL, where he has become a sought-after mentor for students preparing
        for CAT, GMAT, and other MBA entrance exams.
      </p>
      <p class="card-text">
        Over the course of his career, Raaj has mentored over 10,000 students,
        including international students. He has helped his students achieve
        remarkable success, with many of them scoring 99+ percentiles in CAT,
        GMAT, GRE, and other exams. Thanks to Raj's guidance and expertise, his
        students have secured admissions to top Indian business schools as well
        as renowned universities abroad.
      </p>
      <p class="card-text">
        Raaj's impact on his students' lives is truly remarkable. By imparting
        his knowledge and skills, he has not only helped his students achieve
        academic success but has also transformed their futures by opening up
        new opportunities and possibilities. His dedication, hard work, and
        passion for teaching have earned him a reputation as one of the best
        mentors in the industry.
      </p>
      <p class="card-text">
        In conclusion, Raaj Tomar is a highly accomplished education
        professional with a proven track record of success in teaching for MBA
        entrance exams. His impact on his students' lives is profound, and he is
        widely regarded as one of the best mentors in the industry.
      </p>
    </div>
  </div>
</div>
<app-footer></app-footer>
