<app-header></app-header>

<div
  class="page-title__area pt-5 pt-md-10 pt-lg-15"
  style="
    background-image: url(assets/images/background3.jpg);
    background-size: cover;
    background-position: center;
  "
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-xl-6">
        <h1 class="text-center pb-3 pb-md-5">GMAT Structure</h1>
      </div>
    </div>
  </div>
</div>

<div style="border-radius: 8px; padding: 16px">
  <h4 style="margin: auto">
    Total 3 sections, 64 questions, 2hr 15min and overall score range (205-805)
  </h4>
  <br />

  <table>
    <thead>
      <tr>
        <th>SECTIONS</th>
        <th>TIME</th>
        <th>NO.OF QUESTIONS</th>
        <th>SCORE RANGE</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>QUANTITATIVE REASONING</td>
        <td>45 MINUTES</td>
        <td>21</td>
        <td>60-90</td>
      </tr>
      <tr>
        <td>VERBAL REASONING</td>
        <td>45 MINUTES</td>
        <td>23</td>
        <td>60-90</td>
      </tr>
      <tr>
        <td>DATA INSIGHT</td>
        <td>45 MINUTES</td>
        <td>20</td>
        <td>60-90</td>
      </tr>
      <!-- Add more rows as needed -->
    </tbody>
  </table>
</div>

<div
  class="row row-cols-1 row-cols-md-3 g-4"
  style="border-radius: 2px; padding: 16px"
>
  <div class="col">
    <div class="card h-100">
      <h5 class="card-title">QUANTITATIVE REASONING</h5>
      <img src="assets/images/quant.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <!-- <p class="card-text">
            
          </p> -->
        <h3>QUANT Topics</h3>
        <ul>
          <li>Algebra</li>
          <li>Arithematic</li>
          <li>Number System</li>
          <li>Statistics</li>
          <li>Permutations & Combinations</li>
          <li>Probability</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <h5 class="card-title">VERBAL REASONING</h5>
      <img src="assets/images/verbal.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h3>VERBAL Topics</h3>
        <ul>
          <li>Critical Reasoning</li>
          <li>Reading Comprehension</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <h5 class="card-title">DATA INSIGHT</h5>
      <img src="assets/images/datainsight.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h3>DATA INSIGHT Topics</h3>
        <ul>
          <li>Data Sufficiency</li>
          <li>Multi-Source Reasoning</li>
          <li>Table Analysis</li>
          <li>Graphics interpretation</li>
          <li>Two-Part Analysis</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<h2 style="text-align: center; color: rgb(164, 18, 18)">GMATclap Offerings</h2>
<div class="card mb-3" style="max-width: 100%">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="assets/images/offerings.jpg"
        class="img-fluid rounded-start"
        alt="..."
      />
    </div>
    <div class="col-md-4">
      <div class="card-body">
        <h3 class="card-title">GMAT prep-live classes</h3>
        <ul style="font-size: 18px">
          <li>MODE: Online Live Classes on Zoom.</li>
          <li>
            DURATION: 60 hours for Verbal, Quant & Data Insight and doubt
            clearing sessions
          </li>
          <li>
            CONCEPTS: All Concepts of topics covered along with tricks and
            shortcuts.
          </li>
          <li>TEST: For Mock Tests detailed analysis will be provided.</li>
          <li>
            More than 3000 OG Questions are shared, solved, and discussed to
            capitalize on learning.
          </li>
          <li>Unlimited revision classes</li>
          <li>Free classes in a batch if you want to prepare again</li>
          <li>One-on-One mentoring</li>
          <li>Extra effort on assignment and doubt clearing</li>
          <li>Complete study material and notes</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div
  style="
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  "
>
  <div
    class="card border-secondary mb-3"
    style="max-width: 30rem; background-color: rgb(164, 18, 18)"
  >
    <div class="card-header" style="color: white">
      GMAT 1-ON-1 PERSONAL TUITIONS
    </div>
    <div class="card-body text-secondary">
      <ul style="color: white">
        <li>Customised & Flexible class schedule</li>
        <li>One-on-One mentoring</li>
        <li>Extra effort on assignment and Doubt clearing</li>
        <li>Complete study material and notes</li>
        <li>TEST: 300+ topic tests and 6 Mock tests</li>
        <li>Handholding until success in GMAT</li>
        <li>Free classes in a batch if you want to prepare again</li>
      </ul>
    </div>
  </div>
  <div
    class="card border-secondary mb-3"
    style="max-width: 30rem; background-color: black"
  >
    <div class="card-header" style="color: white">GMAT-TESTPLUS</div>
    <div class="card-body text-secondary">
      <ul style="color: white">
        <li>GMAT study material-books and notes</li>
        <li>TESTS: 130+ topic test,unlimited AI generated tests</li>
        <li>6 mock tests</li>
        <li>10 hours live classes</li>
      </ul>
    </div>
  </div>
  <div
    class="card border-secondary mb-3"
    style="max-width: 30rem; background-color: rgb(164, 18, 18)"
  >
    <div class="card-header" style="color: white">WHY CHOOSE US</div>
    <div class="card-body text-secondary">
      <ul style="color: white">
        <li>Small Class Size</li>
        <li>Faculty-IIM A grad,15 years experience</li>
        <li>Handholding until success in GMAT</li>
        <li>Unlimited revision classes</li>
      </ul>
    </div>
  </div>
</div>

<h3 style="text-align: center; color: rgb(164, 18, 18)">Course Pedagogy</h3>
<div class="card mb-3" style="max-width: 100%">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="assets/images/pedagogy.jpg"
        class="img-fluid rounded-start"
        alt="..."
      />
    </div>
    <div class="col-md-4">
      <div class="card-body">
        <!-- <h2 class="card-title">GMAT prep-live classes</h2> -->
        <ul style="font-size: 18px">
          <li><b> MODE</b>: Online Live Classes on Zoom.</li>
          <li>
            <b>DURATION</b>: 60 hours for Verbal, Quant & Data Insight and doubt
            clearing sessions
          </li>
          <li>
            <b>Faculty</b>: IIM A alumnus with 15 years of experience with IMS,
            CL and Leverage Edu
          </li>
          <li>
            <b>METHODOLOGY</b>:
            <p><b>D</b>-Demo/Diagnosis</p>
            <p><b>C</b>-Concept</p>
            <p><b>A</b>-Application</p>
            <p><b>T</b>-Test</p>
          </li>
          <li>
            130+ Topic Tests,unlimitated AI generated tests and 6 mock
            tests.Detailed analysis and solution are shared
          </li>
          <li>Unlimited revision classes. #No fee for revision classes</li>
          <li>Hand-holding until successful GMAT</li>
          <li>All the Concepts along with tricks and shortcuts are covered</li>
          <li>
            More than 3000 OG questions are shared,solved and discussed to
            cappitalize on learning
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div>
  <div
    class="card border-secondary mb-3"
    style="max-width: 100%; background-color: rgb(39, 35, 35)"
  >
    <div class="card-header" style="color: white; margin: auto">
      Frequently Asked Questions
    </div>
    <div class="card-body text-secondary" style="margin: auto">
      <ol style="color: white">
        <li>
          <a href="https://www.mba.com/exams/gmat-exam/about" target="_blank"
            >About GMAT</a
          >
        </li>
        <li>
          <a
            href="https://www.gmac.com/gmat-other-assessments/accessing-gmat-exam-scores-and-reports/gmat-using-programs-schools"
            target="_blank"
            >GMAT accepting Universities</a
          >
        </li>
        <li>
          <a
            href="https://www.gmac.com/gmat-other-assessments/about-the-gmat-focus-edition/exam-scores"
            target="_blank"
            >GMAT Scores</a
          >
        </li>

        <li>
          <a href="https://gmat.london.edu/" target="_blank"
            >Where to take GMAT Mock Test for free</a
          >
        </li>
      </ol>
    </div>
  </div>
</div>

<app-footer></app-footer>
