
<app-header></app-header>
<div>
<h2 style="text-align: center; color: rgb(164, 18, 18)">GMATclap Offerings</h2>
<div class="card mb-3" style="max-width: 100%">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="assets/images/offerings.jpg"
        class="img-fluid rounded-start"
        alt="..."
        
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title">GMAT prep-live classes</h3>
        <ul style="font-size: 22px;">
          <li>MODE: Online Live Classes on Zoom.</li>
          <li>
            DURATION: 60 hours for Verbal, Quant & Data Insight and doubt
            clearing sessions
          </li>
          <li>
            CONCEPTS: All Concepts of topics covered along with tricks and
            shortcuts.
          </li>
          <li>TEST: For Mock Tests detailed analysis will be provided
            .</li>
          <li>
            More than 3000 OG Questions are shared, solved, and discussed to
            capitalize on learning.
          </li>
          <li>Unlimited revision classes</li>
          <li>Free classes in a batch if you want to prepare again</li>
          <li>Handholding until success in GMAT</li>
          <li>Extra effort on assignment and doubt clearing</li>
          <li>Complete study material and notes</li>

        </ul>
        
      </div>
    </div>
  </div>
  
</div>

<div
  style="
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  "
>
  <div
    class="card border-secondary mb-3"
    style="max-width: 30rem; background-color: rgb(164, 18, 18)"
  >
    <div class="card-header" style="color: white">
      GMAT 1-ON-1 PERSONAL TUITIONS
    </div>
    <div class="card-body text-secondary">
      <ul style="color: white">
        <li>Customised & Flexible class schedule</li>
        <li>One-on-One mentoring</li>
        <li>Extra effort on assignment and doubt clearing</li>
        <li>Complete study material and notes</li>
        <li>TEST: 300+ topic tests and 6 Mock tests</li>
        <li>Hand holding until you successful in GMAT</li>
        <li>Free classes in a batch if you want to prepare again</li>
      </ul>
    </div>
  </div>
  <div
    class="card border-secondary mb-3"
    style="max-width: 30rem; background-color: black"
  >
    <div class="card-header" style="color: white">GMAT-TESTPLUS</div>
    <div class="card-body text-secondary">
      <ul style="color: white">
        <li>GMAT study material-books and notes</li>
        <li>TESTS: 130+ topic test,unlimited AI generated tests</li>
        <li>6 mock tests</li>
        <li>10 hours live classes</li>
      </ul>
    </div>
  </div>
  <div
    class="card border-secondary mb-3"
    style="max-width: 30rem; background-color: rgb(164, 18, 18)"
  >
    <div class="card-header" style="color: white">WHY CHOOSE US</div>
    <div class="card-body text-secondary">
      <ul style="color: white">
        <li>Small Class Size</li>
        <li>Faculty-IIM A grad,15 years experience</li>
        <li>Hand Holding Until Success</li>
        <li>Unlimited revision classes</li>
      </ul>
    </div>
  </div>
</div>
</div>
<app-footer></app-footer>