
<app-header></app-header>

<h3 style="text-align: center; color: rgb(164, 18, 18)">Course Pedagogy</h3>
<div class="card mb-3" style="max-width: 100%">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="assets/images/pedagogy.jpg"
        class="img-fluid rounded-start"
        alt="..."
        style="padding: 8px;"
        
        
        
      />
    </div>
    <div class="col-md-4">
      <div class="card-body">
        <!-- <h2 class="card-title">GMAT prep-live classes</h2> -->
        <ul style="font-size: 18px;">
          <li><b> MODE</b>: Online Live Classes on Zoom.</li>
          <li>
            <b>DURATION</b>: 60 hours for Verbal, Quant & Data Insight and doubt
            clearing sessions
          </li>
          <li><b>Faculty</b>: IIM A alumnus with 15 years of experience with IMS, CL and Leverage Edu</li>
          <li>
            <b>METHODOLOGY</b>:
            <p><b>D</b>-Demo/Diagnosis</p>
            <p><b>C</b>-Concept</p>
            <p><b>A</b>-Application</p>
            <p><b>T</b>-Test</p>
          </li>
          <li>130+ Topic Tests,unlimitated AI generated tests and 6 mock tests.Detailed analysis and solution are shared</li>
          <li>
            Unlimited revision classes. #No fee for revision classes
          </li>
          <li>Hand-holding until successful GMAT</li>
          <li>All the Concepts along with tricks and shortcuts are covered</li>
          <li>More than 3000 OG questions are shared,solved and discussed to cappitalize on learning</li>
          
        </ul>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer> 