
<app-header></app-header>

<div
  style="
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    padding: 16px;
    align-items: self-start;
  "
>
  <div class="card" style="width: 28rem; padding: 10px">
    <img
      src="assets/images/gmatclap_logo.jpeg"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">GMATclap</h5>
      <p class="card-text">
        GMAT clap is the brainchild of an alumnus of IIM Ahmedabad, aimed at
        assisting students who aspire to prepare for MBA entrance exams and
        Under-graduate exams. Our all-inclusive services cater to students'
        journey, right from goal setting and exam preparation to SOP and
        interview assistance. We are committed to providing premium quality
        services at reasonable prices, ensuring that every student gets the
        opportunity to accomplish their dreams.
      </p>
      <a href="/gmatofferings" class="btn btn-primary">Know more</a>
    </div>
  </div>

  <div class="card" style="width: 28rem; padding: 10px">
    <img src="assets/images/rajtomarsir.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">GMATclap Coach</h5>
      <p class="card-text">
        Raaj Tomar is a highly accomplished education professional with a wealth
        of experience and expertise in teaching for MBA entrance exams. With an
        engineering degree from JEC, Jabalpur and an MBA from IIM Ahmedabad, Raj
        has honed his skills over 15 years with coaching institutes such as IMS
        and CL, where he has become a sought-after mentor for students preparing
        for CAT, GMAT, and other MBA entrance exams.
      </p>
      <a href="/about" class="btn btn-primary">Know more</a>
    </div>
  </div>

  <div class="card" style="width: 28rem; padding: 10px">
    <img src="assets/images/quant.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">QUANTITATIVE REASONING</h5>
      <p class="card-text">
        Algebra Arithematic <br />
        Number System <br />
        Statistics <br />
        Permutations & Combinations <br />
        Probability
      </p>
      <a href="/gmatstructure" class="btn btn-primary">Know more</a>
    </div>
  </div>
  <div class="card1" style="width: 28rem; padding: 10px">
    <img src="assets/images/verbal.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">VERBAL REASONING</h5>
      <p class="card-text">
        Critical Reasoning <br />
        Reading Comprehension
      </p>
      <a href="/gmatstructure" class="btn btn-primary">Know more</a>
    </div>
  </div>
  <div class="card1" style="width: 28rem; padding: 10px">
    <img src="assets/images/datainsight.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">DATA INSIGHT</h5>
      <p class="card-text">
        Data Sufficiency <br />
        Multi-Source Reasoning <br />
        Table Analysis <br />
        Graphics interpretation <br />
        Two-Part Analysis
      </p>
      <a href="/gmatstructure" class="btn btn-primary">Know more</a>
    </div>
  </div>
</div>

<app-footer></app-footer>