/* Reset default margins and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Center the form horizontally and vertically */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust as needed */
}

/* Style the form */
.enquiry-form {
  width: 90%; /* Adjust width as needed */
  max-width: 400px; /* Max width for larger screens */
  padding: 20px;
  margin: auto; /* Center the form horizontally */
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style form labels */
.enquiry-form label {
  display: block;
  margin-bottom: 5px;
}

/* Style form inputs */
.enquiry-form input,
.enquiry-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style submit button */
.enquiry-form button {
  width: 100%;
  padding: 10px;
  background-color: rgb(42, 135, 201);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Hover effect for button */
.enquiry-form button:hover {
  background-color: rgb(42, 135, 201);
}

/* Focus effect for input fields */
.enquiry-form input:focus,
.enquiry-form textarea:focus {
  outline: none;
  border-color: rgb(42, 135, 201);
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

/* Error message style */
.error-message {
  color: rgb(42, 135, 201);
}

/* Background image and body height */
body {
  height: 100%;
  background-image: url("/assets/images/background3.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .enquiry-form {
    width: 90%; /* Adjust width as needed */
    max-width: 100%; /* Full width for smaller screens */
  }
}
