<app-header></app-header>

<div style="padding: 5px">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="assets\images\ac5.jpg"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-header">Consulting Process</h5>
          <div class="card-body">
            <ol>
              <li>
                Initial Profile Evaluation:
                <ul>
                  <li>
                    Embark on a comprehensive, introspective call to evaluate
                    your strengths, weaknesses, and mutual fit for the
                    application process. Lay the foundation for a personalized
                    strategy tailored to your unique profile.
                  </li>
                </ul>
              </li>
              <li>
                Identifying Your Key Strengths:
                <ul>
                  <li>
                    Utilize our proven frameworks to pinpoint your strengths,
                    values, and unique attributes that set you apart. Craft a
                    narrative that authentically represents your distinctive
                    qualities.
                  </li>
                </ul>
              </li>
              <li>
                Discovering Special YOU:
                <ul>
                  <li>
                    Construct a compelling career story that transcends the
                    ordinary. Unearth the milestones, challenges,
                    accomplishments, and leadership stories that define your
                    professional journey.
                  </li>
                </ul>
              </li>

              <li>
                Finding Your Career Goals:
                <ul>
                  <li>
                    Clearly articulate your short- and long-term goals. Align your aspirations with the ethos of top-notch
                    business schools.
                  </li>
                </ul>
              </li>
              <li>
                Researching & Finalizing Best-Fit Schools:
                <ul>
                  <li>
                    Collaboratively create a curated list of best-fit schools.
                    Leverage our frameworks and resources for in-depth research,
                    empowering you to make informed decisions about your
                    academic future.
                  </li>
                </ul>
              </li>
              <li>
                Choosing Your Recommenders:
                <ul>
                  <li>
                    Receive guidance on selecting the right referees
                    strategically. Craft impactful recommendations that
                    highlight your achievements and contributions.
                  </li>
                </ul>
              </li>
              <li>
                Resume Building:
                <ul>
                  <li>
                    Engage in an intensive 1-1 workshop focused on creating a
                    resume that strategically highlights your strengths and
                    achievements. Develop a document that serves as a compelling
                    testament to your professional journey.
                  </li>
                </ul>
              </li>

              <li>
                Reviewing Your Essays:
                <ul>
                  <li>
                    Collaborate on crafting compelling essays that align
                    seamlessly with admissions expectations. Benefit from
                    unlimited reviews and edits, ensuring your essays are a true
                    reflection of your strengths and personality.
                  </li>
                </ul>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-1">
    <div class="row g-0">
      <div class="col-md-9">
        <div class="card-body">
          <h5 class="card-header">The ISB Application Process: </h5>

          <h5>Steps:-</h5>
          <ol type="step 1">
            <li>
              Initial Profile Evaluation:
              <ul>
                <li>
                  A detailed conversation covering candidature, values,
                  aspirations, and career goals.
                </li>
                <li>
                  A chargeable session, with charges adjusted into overall costs
                  upon further collaboration.
                </li>
              </ul>
            </li>
            <li>
              Key Profiling Call:
              <ul>
                <li>
                  A comprehensive 2-hour video call to understand ISB's
                  evaluation criteria.
                </li>
                <li>
                  Deep dive into personal and professional experiences shaping
                  the candidate.
                </li>
              </ul>
            </li>
            <li>
              Resume Building Workshop:
              <ul>
                <li>
                  Focused session to build the academic, professional, and
                  extra-curricular sections on the ISB application form.
                </li>
              </ul>
            </li>
            <li>
              Essay Reviews & LORs:
              <ul>
                <li>
                  Structuring essays through collaborative brainstorming
                  sessions.
                </li>
                <li>
                  Assistance in selecting recommenders and expert advice on
                  crafting impactful letters of recommendation.
                </li>
              </ul>
            </li>

            <li>
              Final Review:
              <ul>
                <li>
                  Thorough review of the final application before submission,
                  ensuring a polished and compelling representation.
                </li>
              </ul>
            </li>
            <br />
            <h6>The ISB Application Process: Fee - Rs. 40,000/-</h6>
          </ol>
        </div>
      </div>
      <div class="col-md-3">
        <img
          src="assets\images\ac3.jpg"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="assets\images\ac1.jpg"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-header">Packages</h5>
          <div class="card-body">
            <ul>
              <li>1B-schools: Rs. 40,000/-</li>
              <li>3B-schools: Rs. 1,00,000/-</li>
              <li>5B-schools: Rs. 1,50,000/-</li>
              <li>7B-schools: Rs. 2,00,000/-</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-header">Why Choose Us?</h5>
          <div class="card-body">
            <ol>
              <li>
                Dedicted Consultant:
                <ul>
                  <li>
                    Streamline your experience by working with a singular
                    dedicated consultant. No more navigating through various
                    stakeholders; you have one point of contact from initiation
                    to completion.
                  </li>
                </ul>
              </li>
              <li>
                Unlimited Interactions:
                <ul>
                  <li>
                    Foster an environment of open communication. Interact with
                    your consultant whenever necessary, ensuring that your
                    questions and concerns are promptly addressed.
                  </li>
                </ul>
              </li>
              <li>
                10 Dedicated Hours:
                <ul>
                  <li>
                    Delve deep into your profile with a minimum of 10 hours
                    dedicated to profile-building sessions. These sessions,
                    conducted with your mentor, serve as invaluable
                    opportunities for brainstorming and refining information.
                  </li>
                </ul>
              </li>
              <li>
                Unlimited Edits:
                <ul>
                  <li>
                    Enjoy the luxury of unlimited edits on your resume and
                    essays. Perfect your application materials without
                    constraints, aligning them flawlessly with your aspirations.
                  </li>
                </ul>
              </li>
              <li>
                Face-2-Face Workshops:
                <ul>
                  <li>
                    Immerse yourself in over 5 highly introspective workshops.
                    These sessions are meticulously designed to unveil and
                    articulate your personal and professional journeys,
                    providing you with the tools to confidently narrate your
                    story in your applications.
                  </li>
                </ul>
              </li>
              <li>
                Fastest Review TATs:
                <ul>
                  <li>
                    Prioritize your application with our swift turnaround times.
                    Your application reviews are expedited, allowing you to stay
                    ahead in the competitive admissions process.
                  </li>
                </ul>
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <img
          src="assets\images\ac2.jpg"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
    </div>
  </div>
</div>

<div style="padding: 18px">
  <h3 style="display: flex; justify-content: center">
    Top Universities of the world
  </h3>
  <table>
    <thead>
      <tr>
        <th>GROUP</th>
        <th>B-SCHOOL</th>
        <th>Events</th>
      </tr>
    </thead>
    <tbody>
      <tr class="row-1">
        <td>M7</td>
        <td>
          <a href="https://mba.wharton.upenn.edu/" target="_blank"> Wharton</a>
        </td>
        <td>
          <a href="https://mba.wharton.upenn.edu/events/" target="_blank"
            >Upcoming Events</a
          >
        </td>
      </tr>

      <tr class="row-2">
        <td>M7</td>
        <td>
          <a href="https://academics.business.columbia.edu/mba" target="_blank">
            CBS</a
          >
        </td>
        <td>
          <a
            href="https://academics.gsb.columbia.edu/emba/admissions/events"
            target="_blank"
            >Upcoming Events</a
          >
        </td>
      </tr>

      <tr class="row-3">
        <td>M7</td>
        <td>
          <a href="https://www.hbs.edu/mba/Pages/default.aspx" target="_blank">
            HBS</a
          >
        </td>
        <td>
          <a
            href="https://www.hbs.edu/mba/admissions/admissions-events/Pages/default.aspx"
            target="_blank"
            >Upcoming Events</a
          >
        </td>
      </tr>

      <tr class="row-4">
        <td>M7</td>
        <td>
          <a
            href="https://www.kellogg.northwestern.edu/programs/full-time-mba.aspx"
            target="_blank"
          >
            Kellogg</a
          >
        </td>
        <td>
          <a
            href="https://admissions.kellogg.northwestern.edu/portal/admissions-events?program=ft&_gl=1*zmy2s3*_gcl_au*NjAxNzc3OTM2LjE2ODg3MDg3MjU.&_ga=2.179759392.580090658.1688708725-210058901.1688708725"
            target="_blank"
            >Upcoming Events</a
          >
        </td>
      </tr>

      <tr class="row-5">
        <td>M7</td>
        <td>
          <a href="https://www.gsb.stanford.edu/programs/mba" target="_blank">
            Stanford</a
          >
        </td>
        <td>
          <a
            href="https://www.gsb.stanford.edu/programs/mba/admission/events/schedule"
            target="_blank"
            >Upcoming Events</a
          >
        </td>
      </tr>

      <tr class="row-6">
        <td>M7</td>
        <td>
          <a href="https://www.chicagobooth.edu/mba/full-time" target="_blank">
            Booth</a
          >
        </td>
        <td>
          <a
            href="https://www.chicagobooth.edu/mba/full-time/admissions/events"
            target="_blank"
            >Upcoming Events</a
          >
        </td>
      </tr>

      <tr class="row-7">
        <td>M7</td>
        <td>
          <a
            href="https://mitsloan.mit.edu/mba/introduce-yourself"
            target="_blank"
          >
            Sloan</a
          >
        </td>
        <td>
          <a href="https://mitsloan.mit.edu/events" target="_blank"
            >Upcoming Events</a
          >
        </td>
      </tr>

      <tr class="row-8">
        <td>S10</td>
        <td>
          <a
            href="https://som.yale.edu/programs/mba/admissions"
            target="_blank"
          >
            Yale</a
          >
        </td>
        <td>
          <a
            href="https://som.yale.edu/programs/mba/admissions/mba-admissions-events"
            target="_blank"
            >Upcoming Events</a
          >
        </td>
      </tr>

      <tr class="row-9">
        <td>S10</td>
        <td>
          <a
            href="https://www.stern.nyu.edu/programs-admissions/mba-programs"
            target="_blank"
          >
            STERN</a
          >
        </td>
        <td>
          <a
            href="https://apply.stern.nyu.edu/portal/tech_events"
            target="_blank"
            >Upcoming Events</a
          >
        </td>
      </tr>

      <tr class="row-10">
        <td>S10</td>
        <td>
          <a href="https://mba.haas.berkeley.edu/" target="_blank"> haas</a>
        </td>
        <td>
          <a
            href="https://mba.haas.berkeley.edu/admissions/upcoming-events"
            target="_blank"
            >Upcoming Events</a
          >
        </td>
      </tr>

      <tr class="row-11">
        <td>S10</td>
        <td>
          <a
            href="https://www.johnson.cornell.edu/programs/full-time-mba/"
            target="_blank"
          >
            Cornell</a
          >
        </td>
        <td>
          <a
            href="https://www.johnson.cornell.edu/programs/full-time-mba/admissions/events/"
            target="_blank"
            >Upcoming Events</a
          >
        </td>
      </tr>

      <tr class="row-12">
        <td>S10</td>
        <td>
          <a
            href="https://www.tuck.dartmouth.edu/admissions/applying-to-tuck"
            target="_blank"
          >
            tuck</a
          >
        </td>
        <td>
          <a
            href="https://www.tuck.dartmouth.edu/admissions/events"
            target="_blank"
            >Upcoming Events</a
          >
        </td>
      </tr>

      <tr class="row-13">
        <td>S10</td>
        <td>
          <a
            href="https://www.fuqua.duke.edu/programs/daytime-mba"
            target="_blank"
          >
            Fuqua</a
          >
        </td>
        <td>
          <a href="https://www.fuqua.duke.edu/virtual-events#!/" target="_blank"
            >Upcoming Events</a
          >
        </td>
      </tr>

      <tr class="row-14">
        <td>S10</td>
        <td>
          <a href="https://www.darden.virginia.edu/mba" target="_blank">
            Darden</a
          >
        </td>
        <td>
          <a href="https://www.darden.virginia.edu/mba/events" target="_blank"
            >Upcoming Events</a
          >
        </td>
      </tr>

      <tr class="row-15">
        <td>S10</td>
        <td>
          <a href="https://www.cmu.edu/tepper/programs/mba/" target="_blank">
            tepper</a
          >
        </td>
        <td>
          <a
            href="https://www.cmu.edu/tepper/programs/mba/admissions/attend-admissions-events/index.html"
            target="_blank"
            >Upcoming Events</a
          >
        </td>
      </tr>

      <tr class="row-16">
        <td>S10</td>
        <td>
          <a
            href="https://www.anderson.ucla.edu/degrees/full-time-mba"
            target="_blank"
          >
            UCLA</a
          >
        </td>
        <td>
          <a
            href="https://www.anderson.ucla.edu/degrees/full-time-mba/admissions/events"
            target="_blank"
            >Upcoming Events</a
          >
        </td>
      </tr>

      <tr class="row-17">
        <td>S10</td>
        <td>
          <a
            href="https://www.anderson.ucla.edu/degrees/full-time-mba"
            target="_blank"
          >
            UCLA</a
          >
        </td>
        <td>
          <a
            href="https://www.anderson.ucla.edu/degrees/full-time-mba/admissions/events"
            target="_blank"
            >Upcoming Events</a
          >
        </td>
      </tr>

      <tr class="row-18">
        <td>E7</td>
        <td>
          <a
            href="https://www.insead.edu/master-programmes/master-business-administration"
            target="_blank"
          >
            INSEAD</a
          >
        </td>
        <td>
          <a
            href="https://www.insead.edu/events/listing?field_categories%5B0%5D=master_programmes&field_event_programme%5B0%5D=mba&end_value_1_1=1"
            target="_blank"
            >Upcoming Events</a
          >
        </td>
      </tr>

      <tr class="row-19">
        <td>E7</td>
        <td>
          <a href="https://www.london.edu/masters-degrees/mba" target="_blank">
            LBS</a
          >
        </td>

        <td>
          <a
            href="https://www.london.edu/masters-degrees/mba/information-events#sort=%40eventstarts%20ascending"
            target="_blank"
            >Upcoming Events</a
          >
        </td>
      </tr>

      <tr class="row-20">
        <td>E7</td>
        <td>
          <a href="https://www.iese.edu/mba/" target="_blank"> LESE</a>
        </td>

        <td>
          <a href="https://www.iese.edu/search/events/" target="_blank"
            >Upcoming Events</a
          >
        </td>
      </tr>

      <tr class="row-21">
        <td>E7</td>
        <td>
          <a href="https://www.hec.edu/en/mba-programs/mba" target="_blank">
            HEC Paris</a
          >
        </td>

        <td>
          <a href="https://www.hec.edu/en/overview" target="_blank"
            >Upcoming Events</a
          >
        </td>
      </tr>

      <tr class="row-22">
        <td>E7</td>
        <td>
          <a
            href="https://www.jbs.cam.ac.uk/masters-degrees/mba/"
            target="_blank"
          >
            Judge</a
          >
        </td>

        <td>
          <a
            href="https://www.jbs.cam.ac.uk/masters-degrees/mba/"
            target="_blank"
            >Upcoming Events</a
          >
        </td>
      </tr>

      <tr class="row-23">
        <td>E7</td>
        <td>
          <a href="https://www.imd.org/degree/mba/" target="_blank"> IMD</a>
        </td>

        <td>
          <a
            href="https://www.imd.org/degree/mba/events/events/"
            target="_blank"
            >Upcoming Events</a
          >
        </td>
      </tr>

      <tr class="row-24">
        <td>E7</td>
        <td>
          <a
            href="https://www.sbs.ox.ac.uk/programmes/mbas/oxford-mba"
            target="_blank"
          >
            Oxford</a
          >
        </td>

        <td>
          <a href="https://www.sbs.ox.ac.uk/events" target="_blank"
            >Upcoming Events</a
          >
        </td>
      </tr>

      <tr class="row-25">
        <td>A5</td>
        <td>
          <a href="https://mba.nus.edu.sg/" target="_blank"> NUS</a>
        </td>

        <td>
          <a href="https://mba.nus.edu.sg/event/" target="_blank"
            >Upcoming Events</a
          >
        </td>
      </tr>

      <tr class="row-26">
        <td>A5</td>
        <td>
          <a
            href="https://mba.hkust.edu.hk/ftmba/modes-and-schedule"
            target="_blank"
          >
            HKUST</a
          >
        </td>

        <td>
          <a href="https://mba.hkust.edu.hk/events" target="_blank"
            >Upcoming Events</a
          >
        </td>
      </tr>

      <tr class="row-27">
        <td>A5</td>
        <td>
          <a
            href="https://www.isb.edu/en/study-isb/post-graduate-programmes/pgp-management.html"
            target="_blank"
          >
            ISB</a
          >
        </td>

        <td>
          <a
            href="https://www.isb.edu/en/study-isb/post-graduate-programmes/pgp-management/Admissions-Events.html"
            target="_blank"
            >Upcoming Events</a
          >
        </td>
      </tr>

      <tr class="row-28">
        <td>A5</td>
        <td>
          <a
            href="https://www.ntu.edu.sg/business/admissions/graduate-studies/nanyang-mba/admissions"
            target="_blank"
          >
            NTU</a
          >
        </td>

        <td>
          <a
            href="https://www.ntu.edu.sg/business/news-events/events?listingKeyword=&categories=all&interests=all&audiences=all&page=1"
            target="_blank"
            >Upcoming Events</a
          >
        </td>
      </tr>

      <tr class="row-29">
        <td></td>
        <td>
          <a
            href="https://www.sdabocconi.it/en/mba-executive-mba/full-time-mba"
            target="_blank"
          >
            Bocconi</a
          >
        </td>

        <td>
          <a href="https://www.sdabocconi.it/en/program-events" target="_blank"
            >Upcoming Events</a
          >
        </td>
      </tr>

      <tr class="row-30">
        <td></td>
        <td>
          <a
            href="https://www.marshall.usc.edu/programs/graduate-programs/mba-programs/full-time-mba"
            target="_blank"
          >
            MARSHALL</a
          >
        </td>

        <td>
          <a
            href="https://www.marshall.usc.edu/news-events/usc-marshall-events"
            target="_blank"
            >Upcoming Events</a
          >
        </td>
      </tr>

      <tr class="row-31">
        <td></td>
        <td>
          <a href="https://msb.georgetown.edu/mba/" target="_blank">
            McDonough</a
          >
        </td>

        <td>
          <a
            href="https://www.georgetown.edu/events/calendar/mba/#_ga=2.218775961.1041991220.1688710150-2027575915.1688710150"
            target="_blank"
            >Upcoming Events</a
          >
        </td>
      </tr>

      <tr class="row-32">
        <td></td>
        <td>
          <a
            href="https://olin.wustl.edu/programs/mbas/full-time-mba/index.php"
            target="_blank"
          >
            Olin</a
          >
        </td>

        <td>
          <a
            href="https://olin.wustl.edu/about/events/index.php?search=&type=&delivery=&month=&pageindex=0&pagesize=10"
            target="_blank"
            >Upcoming Events</a
          >
        </td>
      </tr>

      <tr class="row-33">
        <td></td>
        <td>
          <a
            href="https://foster.uw.edu/academics/degree-programs/full-time-mba/"
            target="_blank"
          >
            Foster</a
          >
        </td>

        <td>
          <a
            href="https://foster.uw.edu/academics/degree-programs/full-time-mba/admissions/events/"
            target="_blank"
            >Upcoming Events</a
          >
        </td>
      </tr>

      <tr class="row-34">
        <td></td>
        <td>
          <a
            href="https://www.imperial.ac.uk/business-school/mba/full-time-mba/"
            target="_blank"
          >
            Imperial</a
          >
        </td>

        <td>
          <a
            href="https://www.imperial.ac.uk/business-school/programmes/meet-us/"
            target="_blank"
            >Upcoming Events</a
          >
        </td>
      </tr>

      <tr class="row-35">
        <td></td>
        <td>
          <a
            href="https://www.esade.edu/mba/en/programmes/full-time-mba"
            target="_blank"
          >
            Esade</a
          >
        </td>

        <td>
          <a
            href="https://www.esade.edu/mba/en/programmes/full-time-mba/admissions/upcoming-mba-admission-events"
            target="_blank"
            >Upcoming Events</a
          >
        </td>
      </tr>

      <tr class="row-36">
        <td></td>
        <td>
          <a
            href="https://www.kenan-flagler.unc.edu/programs/mba/"
            target="_blank"
          >
            UNC</a
          >
        </td>

        <td>
          <a
            href="https://www.kenan-flagler.unc.edu/programs/mba/full-time-mba/events/"
            target="_blank"
            >Upcoming Events</a
          >
        </td>
      </tr>

      <tr class="row-37">
        <td></td>
        <td>
          <a href="https://business.vanderbilt.edu/mba/" target="_blank">
            Owen</a
          >
        </td>

        <td>
          <a href="https://events.vanderbilt.edu/business/" target="_blank"
            >Upcoming Events</a
          >
        </td>
      </tr>

      <tr class="row-38">
        <td></td>
        <td>
          <a
            href="https://www.alliancembs.manchester.ac.uk/study/mba/full-time/"
            target="_blank"
          >
            Alliance</a
          >
        </td>

        <td>
          <a
            href="https://www.alliancembs.manchester.ac.uk/events/"
            target="_blank"
            >Upcoming Events</a
          >
        </td>
      </tr>

      <tr class="row-39">
        <td></td>
        <td>
          <a
            href="https://goizueta.emory.edu/full-time-mba/two-year-mba/admissions"
            target="_blank"
          >
            Emory</a
          >
        </td>

        <td>
          <a
            href="https://goizueta.emory.edu/engagement/full-time-mba-events"
            target="_blank"
            >Upcoming Events</a
          >
        </td>
      </tr>

      <tr class="row-40">
        <td></td>
        <td>
          <a
            href="https://www.mccombs.utexas.edu/graduate/mba/full-time-mba/"
            target="_blank"
          >
            McCombs</a
          >
        </td>

        <td>
          <a
            href="https://www.mccombs.utexas.edu/graduate/mba/full-time-mba/admissions/admissions-events/"
            target="_blank"
            >Upcoming Events</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-footer></app-footer>
