table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}


/* Default styling */
.card {
    margin-bottom: 1rem;
  }
  
  /* Responsive layout adjustments */
  @media (min-width: 576px) {
    .col-sm-4 {
      flex: 0 0 auto;
      width: 33.333333%;
      max-width: 33.333333%;
    }
  }
  
  @media (min-width: 768px) {
    .col-md-3 {
      flex: 0 0 auto;
      width: 25%;
      max-width: 25%;
    }
  
    .col-md-4 {
      flex: 0 0 auto;
      width: 33.333333%;
      max-width: 33.333333%;
    }
  
    .col-md-8 {
      flex: 0 0 auto;
      width: 66.666667%;
      max-width: 66.666667%;
    }
  
    .mb-md-3 {
      margin-bottom: 1rem !important;
    }
  }
  
  @media (min-width: 992px) {
    .col-lg-9 {
      flex: 0 0 auto;
      width: 75%;
      max-width: 75%;
    }
  
    .col-lg-8 {
      flex: 0 0 auto;
      width: 66.666667%;
      max-width: 66.666667%;
    }
  }
  
  @media (min-width: 1200px) {
    .col-xl-4 {
      flex: 0 0 auto;
      width: 33.333333%;
      max-width: 33.333333%;
    }
  
    .col-xl-8 {
      flex: 0 0 auto;
      width: 66.666667%;
      max-width: 66.666667%;
    }
  }
  